<div ng-form="addTemplateTaskForm">
    <div class="modal-header">
        <h3 class="modal-title">Add Template Task</h3>
    </div>
    <div class="modal-body">
        <label class="font-bold">Stage</label>
        <div class="form-group">
            <ui-select ng-if="!vm.templateValues.stage" ng-model="vm.template.stage" theme="select2" class="w-full" required>
                <ui-select-match placeholder="Select Stage">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.stageLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
            <input ng-if="vm.templateValues.stage" type="text" class="form-control w-full" ng-model="vm.template.stage" disabled>
        </div>

        <label class="font-bold">Environment</label>
        <div class="form-group">
            <ui-select ng-if="!vm.templateValues.environment" ng-model="vm.template.environment" theme="select2" class="w-full" required>
                <ui-select-match placeholder="Select Environment">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.environmentLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
            <input ng-if="vm.templateValues.environment" type="text" class="form-control w-full" ng-model="vm.template.environment" disabled>
        </div>

        <label class="font-bold">Domain</label>
        <div class="form-group">
            <ui-select ng-if="!vm.templateValues.domain" ng-model="vm.template.domain" theme="select2" class="w-full" required>
                <ui-select-match placeholder="Select Domain">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.domainLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
            <input ng-if="vm.templateValues.domain" type="text" class="form-control w-full" ng-model="vm.template.domain" disabled>
        </div>
        <div class="form-group">
            <label class="font-bold">T-</label>
            <input type="text" class="form-control" placeholder="T-" data-ng-model="vm.template.tminus" required>
        </div>

        <label class="font-bold">Activity Task</label>
        <div class="form-inline m-vertical animated fadeIn" ng-show="vm.isNewTask">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="New Task Name" data-ng-model="vm.template.activityTaskName" style="width:285px;">
            </div>
            <div class="checkbox m-l m-r-xs">
                <label class="i-checks">
                    <input type="checkbox" data-ng-model="vm.isNewTask" ng-change="vm.handleNewTaskToggle()"><i></i>New Activity Task
                </label>
            </div>
        </div>

        <div class="form-inline m-vertical animated fadeIn" ng-show="!vm.isNewTask">
            <ui-select ng-model="vm.template.taskId" theme="select2" style="width:50%">
                <ui-select-match placeholder="Select Activity Task">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="task.id as task in vm.activityTasks | filter:$select.search track by $index">
                    {{task.name}}
                </ui-select-choices>
            </ui-select>
            <div class="checkbox m-l m-r-xs">
                <label class="i-checks">
                    <input type="checkbox" data-ng-model="vm.isNewTask" ng-change="vm.handleNewTaskToggle()"><i></i>New Activity Task
                </label>
            </div>
        </div>
        
        <label class="font-bold">Milestone</label>
        <div class="form-inline m-vertical animated fadeIn">
            <div class="form-group">
                <input type="text" class="form-control w-full" ng-disabled="vm.template.milestone" placeholder="Milestone Group" data-ng-model="vm.template.milestoneGroup">
            </div>
            <div class="checkbox m-l m-r-xs">
                <label class="i-checks">
                    <input type="checkbox" data-ng-model="vm.template.milestone" ng-change="vm.template.milestoneGroup=null;"><i></i>Is Milestone
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.addTemplateTask();" ng-disabled="addTemplateTaskForm.$invalid">Add</button>
        <button class="btn btn-danger" ng-click="vm.$modalInstance.dismiss();">Cancel</button>
    </div>
</div>