<div class="app-content-body  app-content-full" style="overflow: hidden">
    <div class="hbox hbox-auto-xs bg-light " ng-init="app.settings.asideFolded = true; app.settings.asideFixed = true; app.settings.asideDock = false; app.settings.container = false; app.hideAside = false">
        <div class="col">
            <ui-breadcrumbs ng-if="authentication.isAuth" displayname-property="data.displayName"
                            template-url="/app/views/uiBreadcrumbs.html">
            </ui-breadcrumbs>
            <div class="vbox">
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group pull-left m-vertical w">
                                            <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control input-sm" placeholder="Search By Code" ng-model="vm.categoryFilter">
                                        </div>
                                        <button class="btn btn-sm btn-primary pull-right m-vertical" ng-click="vm.addCategory();">Add Category</button>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table table-striped b-t b-light">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th class="action-column">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="category in vm.categories | filter: {code: vm.categoryFilter}">
                                                    <td ng-class="{'selected' : category == vm.selectedCategory}" ng-click="vm.selectedCategory=category;">{{category.code}}</td>
                                                    <td ng-class="{'selected' : category == vm.selectedCategory}" ng-click="vm.selectedCategory=category;">{{category.description}}</td>
                                                    <td ng-class="{'selected' : category == vm.selectedCategory}" ng-click="vm.selectedCategory=category;">
                                                        <span ng-if="category.active">Active</span>
                                                        <span ng-if="!category.active">In Active</span>
                                                    </td>
                                                    <td class="center-x" ng-class="{'selected' : category == vm.selectedCategory}">
                                                        <!--<span class="glyphicon glyphicon-pencil cursor-pointer" ng-click="vm.editCategory(category)" aria-hidden="true"></span>&nbsp;-->
                                                        <span class="glyphicon glyphicon-remove cursor-pointer" ng-click="vm.deleteCategory(category.id)" aria-hidden="true"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-lg lt b-r" ng-if="vm.selectedCategory">
            <div class="vbox">
                <div class="wrapper">
                    <a href class="pull-right btn btn-sm btn-primary m-t-n-xs" ng-click="vm.createLookupValue()">New</a>
                    <div class="h4">Lookup Values</div>
                </div>
                <div class="wrapper b-t m-t-xxs">
                    <div class="input-group">
                        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control input-sm" placeholder="search" ng-model="vm.lookupValueQuery">
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="list-group">
                                    <a ng-repeat="value in vm.selectedCategory.values | filter: {name : vm.lookupValueQuery}"
                                       ng-class="{'b-l-success' : $index % 2 == 0, 'b-l-warning' : $index % 2 != 0}"
                                       class="list-group-item b-l-3x hover-anchor">
                                        <span ng-show="value.isEdit" class="pull-right text-muted">
                                            <i ng-click="value.name=value.originalName;value.isEdit=false;" class="glyphicon glyphicon-remove hover-danger"></i>&nbsp;
                                            <i ng-click="vm.editLookupValue(value)" class="fa fa-check hover-active"></i>
                                        </span>
                                        <span ng-click="vm.selectLookupValue(value)" class="block text-ellipsis" ng-show="!value.isEdit">{{value.name}}</span>
                                        <span>
                                            <input type="text"
                                                   class="w-sm"
                                                   ng-model="value.name"
                                                   ng-show="value.isEdit"
                                                   ng-keypress="($event.which === 13 && value.originalName != value.name)?vm.editLookupValue(type):0" />
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>