<div class="app-content-body  app-content-full" style="overflow: hidden">
    <div class="hbox hbox-auto-xs bg-light " ng-init="app.settings.asideFolded = true; app.settings.asideFixed = true; app.settings.asideDock = false; app.settings.container = false; app.hideAside = false">
        <div class="col">
            <ui-breadcrumbs ng-if="authentication.isAuth" displayname-property="data.displayName"
                            template-url="/app/views/uiBreadcrumbs.html">
            </ui-breadcrumbs>
            <div class="vbox">
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group pull-left m-vertical w">
                                            <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control input-sm" placeholder="Search By Code" ng-model="vm.categoryFilter">
                                        </div>
                                        <button class="btn btn-sm btn-primary pull-right m-vertical" ng-click="vm.addCategory();">Add Category</button>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table table-striped b-t b-light">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th class="action-column">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="category in vm.categories | filter: {code: vm.categoryFilter}" ng-class="{'selected-row' : category == vm.selectedCategory}">
                                                    <td ng-click="vm.selectCategory(category)">{{category.code}}</td>
                                                    <td ng-click="vm.selectCategory(category)">{{category.description}}</td>
                                                    <td ng-click="vm.selectCategory(category)">
                                                        <span ng-if="category.active">Active</span>
                                                        <span ng-if="!category.active">In Active</span>
                                                    </td>
                                                    <td class="center-x">
                                                        <!--<span class="glyphicon glyphicon-pencil cursor-pointer" ng-click="vm.editCategory(category)" aria-hidden="true"></span>&nbsp;-->
                                                        <span class="glyphicon glyphicon-remove cursor-pointer" ng-click="vm.deleteCategory(category.id)" aria-hidden="true"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-lg lt b-r" ng-if="vm.selectedCategory">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4">Lookup Values</div>
                </div>
                <div class="wrapper b-t m-t-xxs">
                    <div class="input-group">
                        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control input-sm" placeholder="search" ng-model="vm.lookupValueQuery">
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="list-group">
                                    <a ng-repeat="value in vm.selectedCategory.values | filter: {name : vm.lookupValueQuery}"
                                       ng-class="{'b-l-success' : value.active, 'b-l-warning' : !value.active, 'selected' : value == vm.selectedLookupValue}"
                                       class="list-group-item b-l-3x hover-anchor">
                                        <span class="pull-right text-muted">
                                            <i class="glyphicon glyphicon-pencil hover-warning" ng-click="vm.editLookupValue();"></i>&nbsp;
                                            <i class="fa fa-trash-o hover-danger" ng-click="vm.deleteLookupValue();"></i>
                                        </span>
                                        <span ng-click="vm.selectedLookupValue=value;" class="block text-ellipsis hover-info">{{value.name}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper b-t m-t-xxs">
                    <div class="form-inline m-vertical">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lookup Value" data-ng-model="vm.newLookupValue" style="width: 145px;">
                        </div>
                        <div class="checkbox m-l m-r-xs">
                            <label class="i-checks">
                                <input type="checkbox" data-ng-model="vm.newLookupValueIsActive"><i></i>Is Active
                            </label>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-plus"
                               ng-class="{'hover-pointer' : vm.newLookupValue}"
                               style="color: #27c24c"
                               ng-click="vm.addLookupValue()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-lg lt b-r" ng-if="vm.selectedLookupValue">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4">Lookup Aliases</div>
                </div>
                <div class="wrapper b-t m-t-xxs">
                    <div class="input-group">
                        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control input-sm" placeholder="search" ng-model="vm.lookupAliasQuery">
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="list-group">
                                    <a ng-repeat="value in vm.selectedLookupValue.lookupAliases | filter: {name : vm.lookupAliasQuery}"
                                       ng-class="{'b-l-success' : value.active, 'b-l-warning' : !value.active}"
                                       class="list-group-item b-l-3x hover-anchor">
                                        <span class="pull-right text-muted">
                                            <i class="glyphicon glyphicon-pencil hover-warning" ng-click="vm.editLookupAlias();"></i>&nbsp;
                                            <i class="fa fa-trash-o hover-danger" ng-click="vm.deleteAlias(value.id);"></i>
                                        </span>
                                        <span class="block text-ellipsis">{{value.name}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper b-t m-t-xxs">
                    <div class="form-inline m-vertical">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lookup Alias" data-ng-model="vm.newLookupAlias" style="width: 145px;">
                        </div>
                        <div class="checkbox m-l m-r-xs">
                            <label class="i-checks">
                                <input type="checkbox" data-ng-model="vm.newLookupAliasIsActive"><i></i>Is Active
                            </label>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-plus"
                               ng-class="{'hover-pointer' : vm.newLookupAlias}"
                               style="color: #27c24c"
                               ng-click="vm.addLookupAlias()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>