<div ng-form="categoryLookupManagementForm">
    <div class="row">
        <div class="col-md-12">
            <accordion close-others="oneAtATime">
                <accordion-group heading="Add Category Lookup" ng-form="newCategoryLookupForm">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Code" data-ng-model="vm.newCategory.code" required><br />
                    </div>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Description" data-ng-model="vm.newCategory.description" required><br />
                    </div>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.newCategory.type" theme="select2" style="width: 100%; margin-bottom: 20px;" required>
                            <ui-select-match placeholder="Select Category Type">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="type in vm.categoryTypes | filter:$select.search">
                                {{type.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-sm btn-primary pull-right" type="submit" ng-click="vm.createCategoryType()">Add New Category Type</button>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-sm btn-primary" type="submit" ng-click="vm.createCategory()" ng-disabled="newCategoryLookupForm.$invalid">Create</button>
                    </div>
                </accordion-group>
            </accordion>
            <div>
                &nbsp;
                <ui-select on-select="vm.populateCategories()" ng-model="vm.filter" theme="select2" style="width: 25%; margin-bottom: 20px;">
                    <ui-select-match placeholder="Filter By Category Type">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="type.id as type in vm.categoryTypes | filter:$select.search">
                        {{type.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th class="action-column">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="category in vm.categories">
                                <td>{{category.code}}</td>
                                <td>{{category.description}}</td>
                                <td>{{category.type.name}}</td>
                                <td>
                                    <span ng-if="category.active">Active</span>
                                    <span ng-if="!category.active">In Active</span>
                                </td>
                                <td class="center-x">
                                    <span class="glyphicon glyphicon-pencil cursor-pointer" ng-click="vm.editCategory(category)" aria-hidden="true"></span>&nbsp;
                                    <span class="glyphicon glyphicon-remove cursor-pointer" ng-click="vm.deleteCategory(category.id)" aria-hidden="true"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>