<div ng-form="createCategoryTypeForm">
    <div class="modal-header">
        <h3 class="modal-title">Create Category Type</h3>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" placeholder="Category Type Name" data-ng-model="vm.categoryTypeName" required autofocus>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                ng-click="vm.createCategoryType()"
                ng-disabled="createCategoryTypeForm.$invalid || !createCategoryTypeForm.$dirty || vm.inProgress">
            Create
        </button>
        <button class="btn btn-danger" ng-click="vm.$modalInstance.dismiss();">Cancel</button>
    </div>
</div>