<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th>Process Area</th>
                    <th>App Mnemoonics in Scop</th>
                    <th>MIS Team PM Identified & Contacted</th>
                    <th>Request Documents from the MIS Team</th>
                    <th>Prepopulate questionnaire (prep for Intake meeting)</th>
                    <th>App Discovery Workshop Scheduled</th>
                    <th>Conduct App Discovery Workshop (Current State)</th>
                    <th>MIS Questionnaire Sign Off</th>
                    <th>Current State Defined (Signed off)</th>
                    <th>Future State Finalized</th>
                    <th>Future State Approved (Sign-Off)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                    <td>TEST DATA</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>