<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Process Area</th>
                    <th>App Mnemoonics in Scop</th>
                    <th>MIS Team PM Identified & Contacted</th>
                    <th>Request Documents from the MIS Team</th>
                    <th>Prepopulate questionnaire (prep for Intake meeting)</th>
                    <th>App Discovery Workshop Scheduled</th>
                    <th>Conduct App Discovery Workshop (Current State)</th>
                    <th>MIS Questionnaire Sign Off</th>
                    <th>Current State Defined (Signed off)</th>
                    <th>Future State Finalized</th>
                    <th>Future State Approved (Sign-Off)</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                  
                </tr>
            </tbody>
        </table>
    </div>
</div>
