<div ng-form="editTemplateForm">
    <div class="modal-header">
        <h3 class="modal-title">Edit Template Task</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="font-bold">Name</label>
            <input type="text" class="form-control" placeholder="Template Name" data-ng-model="vm.template.name" required>
        </div>
        <label class="font-bold">Stage</label>
        <div class="form-group">
            <ui-select ng-model="vm.template.stage" theme="select2" style="width:100%">
                <ui-select-match placeholder="Select Stage">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.stageLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
        </div>

        <label class="font-bold">Environment</label>
        <div class="form-group">
            <ui-select ng-model="vm.template.environment" theme="select2" style="width: 100%">
                <ui-select-match placeholder="Select Environment">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.environmentLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
        </div>

        <label class="font-bold">Domain</label>
        <div class="form-group">
            <ui-select ng-model="vm.template.domain" theme="select2" style="width: 100%">
                <ui-select-match placeholder="Select Domain">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.domainLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.updateTemplate();" ng-disabled="editTemplateForm.$invalid || editTemplateForm.$pristine || vm.isLoading">Update</button>
        <button class="btn btn-danger" ng-click="vm.$modalInstance.dismiss();">Cancel</button>
    </div>
</div>