<div ng-form="passwordRecoveryForm">
    <div class="modal-header">
        <h3 class="modal-title">Password Recovery</h3>
    </div>
    <div class="modal-body">
        <vc-error-notification></vc-error-notification>
        <input type="email" class="form-control" placeholder="Email" ng-model="vm.email" required autofocus><br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.resetPassword();" ng-disabled="passwordRecoveryForm.$invalid">Send</button>
        <button class="btn btn-danger" ng-click="vm.$modalInstance.dismiss();">Cancel</button>
    </div>
</div>