<!--<form class="form-login" role="form">
        <h2 class="form-login-heading">Sign up</h2>
        <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
        <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </form>-->

<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t">Migration Director</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Sign up to obtain an account</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="Username" class="form-control no-border" ng-model="vm.newUser.userName" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="First Name" class="form-control no-border" ng-model="vm.newUser.firstName" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="Last Name" class="form-control no-border" ng-model="vm.newUser.lastName" required>
                </div>
                <div class="list-group-item">
                    <input type="number" placeholder="Phone Number" class="form-control no-border" ng-model="vm.newUser.phoneNumber" required>
                </div>
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" ng-model="vm.newUser.email" required>
                </div>
                <div class="list-group-item">
                    <input type="email" placeholder="Confirm Email" class="form-control no-border" ng-model="vm.newUser.confirmEmail" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" ng-model="vm.newUser.password" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Confirm Password" class="form-control no-border" ng-model="vm.newUser.confirmPassword" required>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" ng-model="agree" required><i></i> Agree the <a href>terms and policy</a>
                </label>
            </div>
            <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="vm.createUser()" ng-disabled='form.$invalid'>Sign up</button>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>Already have an account?</small></p>
            <a ui-sref="login" class="btn btn-lg btn-default btn-block">Sign in</a>
        </form>
    </div>
</div>