<div class="app-content-body  app-content-full animated fadeIn" style="overflow: hidden">
    <div class="hbox hbox-auto-xs bg-light " ng-init="app.settings.asideFolded = true; app.settings.asideFixed = true; app.settings.asideDock = false; app.settings.container = false; app.hideAside = false">
        <!--Main area start-->
        <div class="col w-xxl">
            <ui-breadcrumbs ng-if="authentication.isAuth" displayname-property="data.displayName"
                            template-url="/app/views/uiBreadcrumbs.html">
            </ui-breadcrumbs>
            <div class="vbox">
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <div class="form-inline" ng-form="newTemplateForm">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-sm" placeholder="Template Name" data-ng-model="vm.newTemplateName" style="width: 200px;" required="">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-primary m-vertical" ng-disabled="newTemplateForm.$invalid" ng-click="vm.addTemplate();">Add Template</button>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table table-striped b-t b-light">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th class="action-column">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="template in vm.activityTemplates"
                                                    ng-class="{'selected-row' : template == vm.selectedTemplate}"
                                                    class="hover-table-row">
                                                    <td ng-click="vm.selectTemplate(template)">{{template.name}}</td>
                                                    <td class="center-x">
                                                        <span class="glyphicon glyphicon-pencil hover-warning cursor-pointer" aria-hidden="true"></span>&nbsp;
                                                        <span class="fa fa-trash-o hover-danger cursor-pointer" aria-hidden="true" ng-click="vm.deleteTemplate(template.id);"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Lookup values column start-->
        <div class="col w-auto lt b-r animated fadeInRight" ng-if="vm.selectedTemplate">
            <div class="vbox">
                <div class="wrapper">
                    <a href="" class="pull-right btn btn-sm btn-primary m-t-n-xs" ng-click="vm.createTemplateTask()">Add Task</a>
                    <div class="h4">Tasks</div>
                </div>
                <div class="wrapper b-t m-t-xxs">
                    <div class="input-group">
                        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control input-sm" placeholder="search" ng-model="vm.templateTasksQuery">
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table table-striped b-t b-light">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Stage</th>
                                                    <th>Domain</th>
                                                    <th>Environment</th>
                                                    <th>TMinus</th>
                                                    <th>Milestone</th>
                                                    <th>Milestone Group</th>
                                                    <th class="action-column">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="task in vm.selectedTemplate.templateTasks | filter: {name : vm.templateTasksQuery}"
                                                    ng-class="{'selected-row' : template == vm.selectedTemplate}"
                                                    class="hover-table-row">
                                                    <td>{{task.activityTask.name}}</td>
                                                    <td>{{task.stage}}</td>
                                                    <td>{{task.domain}}</td>
                                                    <td>{{task.environment}}</td>
                                                    <td>{{task.tminus}}</td>
                                                    <td>{{task.milestone}}</td>
                                                    <td>
                                                        <span ng-if="task.milestoneGroup == null || task.milestoneGroup == ''">None</span>
                                                        <span ng-if="task.milestoneGroup && task.milestoneGroup != ''">task.milestoneGroup</span>
                                                    </td>
                                                    <td class="center-x">
                                                        <span class="glyphicon glyphicon-pencil hover-warning cursor-pointer" aria-hidden="true"></span>&nbsp;
                                                        <span class="fa fa-trash-o hover-danger cursor-pointer" aria-hidden="true" ng-click="vm.deleteTemplateTask(task)"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>