<form role="form">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <accordion close-others="oneAtATime">
                <accordion-group heading="Add User" ng-form="newUserForm">
                    <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.username" required autofocus><br/>
                    <input type="text" class="form-control" placeholder="Password" data-ng-model="vm.password" required><br />
                    <input type="text" class="form-control" placeholder="Confirm Password" data-ng-model="vm.confirmPassword" required><br />
                </accordion-group>
                <accordion-group heading="Manage Users">
                    This content is straight in the template.
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>