<form role="form">
    <div class="row">
        <div class="col-md-12">
            <accordion close-others="oneAtATime">
                <accordion-group heading="Add User" ng-form="newUserForm">
                    <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.newUser.userName" required autofocus><br />
                    <input type="email" class="form-control" placeholder="Email" data-ng-model="vm.newUser.email" required><br />

                    <ui-select multiple ng-model="vm.newUser.roles" theme="select2" style="width: 100%; margin-bottom: 20px;">
                        <ui-select-match placeholder="Select Roles">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="role in vm.availableRoles | filter:$select.search">
                            {{role.name}}
                        </ui-select-choices>
                    </ui-select>

                    <input type="password" class="form-control" placeholder="Password" data-ng-model="vm.newUser.password" required><br />
                    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="vm.newUser.confirmPassword" required><br />

                    <button class="btn btn-sm btn-info" type="submit" ng-click="vm.createUser()">Create</button>
                </accordion-group>
            </accordion>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th class="usermanagment-action-column">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in vm.users">
                                <td>{{user.userName}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    <span ng-repeat="role in user.roles">{{role.name}}&nbsp;</span>
                                </td>
                                <td class="center-x">
                                    <span class="glyphicon glyphicon-remove cursor-pointer" ng-click="vm.deleteUser(user.id)" aria-hidden="true"></span>&nbsp;
                                    <span class="glyphicon glyphicon-pencil cursor-pointer" ng-click="vm.editUser(user.id)" aria-hidden="true"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>