a {
    cursor: pointer;
}

th.action-column {
    width: 75px;
}

.center-x {
     text-align:center;
}

.cursor-pointer {
    cursor: pointer;
}

.m-vertical {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hover-pointer {
    cursor: pointer;
}