a {
    cursor: pointer;
}

th.action-column {
    width: 75px;
}

.center-x {
     text-align:center;
}

.cursor-pointer {
    cursor: pointer;
}

.m-vertical {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hover-pointer {
    cursor: pointer;
}

.selected {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

tr.selected-row > td {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.hover-warning:hover {
    color: #fad733;
}

.hover-info:hover {
    color: #23b7e5;
}

.hover-success:hover {
    color: #27c24c;
}

.margin-top-sm {
    margin-top: 8px;
}

