<div ng-form="editTemplateTaskForm">
    <div class="modal-header">
        <h3 class="modal-title">Add Template Task</h3>
    </div>
    <div class="modal-body">
        <label class="font-bold">Stage</label>
        <div class="form-group">
            <ui-select ng-if="!vm.templateValues.stage" ng-model="vm.templateTask.stage" theme="select2" class="w-full" required>
                <ui-select-match placeholder="Select Stage">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.stageLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
            <input ng-if="vm.templateValues.stage" type="text" class="form-control w-full" ng-model="vm.templateTask.stage" disabled>
        </div>

        <label class="font-bold">Environment</label>
        <div class="form-group">
            <ui-select ng-if="!vm.templateValues.environment" ng-model="vm.templateTask.environment" theme="select2" class="w-full" required>
                <ui-select-match placeholder="Select Environment">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.environmentLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
            <input ng-if="vm.templateValues.environment" type="text" class="form-control w-full" ng-model="vm.templateTask.environment" disabled>
        </div>

        <label class="font-bold">Domain</label>
        <div class="form-group">
            <ui-select ng-if="!vm.templateValues.domain" ng-model="vm.templateTask.domain" theme="select2" class="w-full" required>
                <ui-select-match placeholder="Select Domain">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="lookup.name as lookup in vm.domainLookups | filter:$select.search track by $index">
                    {{lookup.name}}
                </ui-select-choices>
            </ui-select>
            <input ng-if="vm.templateValues.domain" type="text" class="form-control w-full" ng-model="vm.templateTask.domain" disabled>
        </div>
        <div class="form-group">
            <label class="font-bold">T-</label>
            <input type="text" class="form-control" placeholder="T-" data-ng-model="vm.templateTask.tminus" required>
        </div>
        <label class="font-bold">Milestone</label>
        <div class="form-inline m-vertical animated fadeIn">
            <div class="form-group">
                <input type="text" class="form-control w-full" ng-disabled="vm.templateTask.milestone" placeholder="Milestone Group" data-ng-model="vm.templateTask.milestoneGroup">
            </div>
            <div class="checkbox m-l m-r-xs">
                <label class="i-checks">
                    <input type="checkbox" data-ng-model="vm.templateTask.milestone" ng-change="vm.templateTask.milestoneGroup=null;"><i></i>Is Milestone
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label class="font-bold">Activity Task</label>
            <input type="text" class="form-control w-full" data-ng-model="vm.templateTask.activityTask.name" disabled>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.updateTemplateTask();" ng-disabled="editTemplateTaskForm.$invalid || !editTemplateTaskForm.$dirty || vm.isLoading">Update</button>
        <button class="btn btn-danger" ng-click="vm.$modalInstance.dismiss();">Cancel</button>
    </div>
</div>